<section>
    <form hx-post="/contato/religion/evangelical/" hx-swap="none">
        {% csrf_token %}
        <input type="hidden" name="religion" value="{{ body_context.religion }}">
        <input type="hidden" name="christianity_type" value="{{ body_context.christianity_type }}">
        <div>
            <label for="evangelical_church_name">Nome da igreja</label>
            <input id="evangelical_church_name" type="text" name="evangelical_church_name" value="{{ body_context.evangelical_church_name }}">
        </div>
        <fieldset>
            <legend>Está em comunhão?</legend>
            <label for="evangelical_is_in_communion_true">
                <input id="evangelical_is_in_communion_true" type="radio" name="evangelical_is_in_communion" value="true" {% if body_context.evangelical_is_in_communion == "true" %}checked{% endif %}>
                Sim
            </label>
            <label for="evangelical_is_in_communion_false">
                <input id="evangelical_is_in_communion_false" type="radio" name="evangelical_is_in_communion" value="false" {% if body_context.evangelical_is_in_communion == "false" %}checked{% endif %}>
                Não
            </label>
        </fieldset>
        <button type="submit">Continuar</button>
    </form>
</section>
