<section>
    <form hx-post="/contato/religion/christianity/" hx-swap="none" class="row g-3">
        {% csrf_token %}
        <input type="hidden" name="religion" value="{{ body_context.religion }}">
        <div class="col-12">
            <label for="christianity_type" class="form-label">Ramo do cristianismo</label>
            <select id="christianity_type" name="christianity_type" class="form-select">
                <option value="">Selecione</option>
                {% for option in christianity_type_options %}
                <option value="{{ option.value }}"{% if option.value == body_context.christianity_type %} selected{% endif %}>{{ option.label }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="col-12 d-grid">
            <button type="submit" class="btn btn-primary">Continuar</button>
        </div>
    </form>
</section>
